<h1><%= @task.title %></h1>
<br>
<p><%= @task.detail %></p>
<br>
<%= link_to "Edit this task", edit_task_path(@task.id) %>
<%= link_to "Delete this task",
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
